{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I’m someone who enjoys exploring ideas and contemplate about the world around me.
          Whether I’m working on a project or simply observing life, I approach things with curiosity and reflection.
          I believe that being thoughtful leads to better solutions, stronger connections, and meaningful growth.
        </p>
        <p class="indented">
              I’ve always loved reading — it’s one of the ways I explore new ideas,
          learn about different perspectives, and unwind.
          Whether it's fiction, non-fiction, or articles on topics that catch my interest,
          reading helps me stay curious and continually grow.
          I see books not just as entertainment,
          but as a window into how others think, feel, and experience the world.!
        </p>
        <p class="indented">
              Being an optimist, I tend to focus on possibilities rather than problems,
          and I believe that challenges often carry hidden opportunities.
          Even in uncertain situations, I try to maintain a positive mindset and
          look for what can be learned or improved. Optimism helps me stay motivated,
          resilient, and open to whatever comes next!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
